In [3]:
import pandas as pd

#https://www.kaggle.com/datasets/max-mind/world-cities-database/data?select=worldcitiespop.csv
CSV_PATH = '/Users/shelbernstein/cooperation.party/data/worldcitiespop.csv'

df_tmp = pd.read_csv(CSV_PATH, nrows=5)
df_tmp.head()

  Country        City  AccentCity  Region  Population   Latitude  Longitude
0      ad       aixas       Aixàs       6         NaN  42.483333   1.466667
1      ad  aixirivali  Aixirivali       6         NaN  42.466667   1.500000
2      ad  aixirivall  Aixirivall       6         NaN  42.466667   1.500000
3      ad   aixirvall   Aixirvall       6         NaN  42.466667   1.500000
4      ad    aixovall    Aixovall       6         NaN  42.466667   1.483333

In [4]:
df_tmp = pd.read_csv(CSV_PATH)

df_tmp

/var/folders/8z/7lxdwtf57c70qy6qz4n6f9x80000gn/T/ipykernel_3429/3160368621.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tmp = pd.read_csv(CSV_PATH)

,Country,City,AccentCity,Region,Population,Latitude,Longitude
0,ad,aixas,Aixàs,6.0,NaN,42.483333,1.466667
1,ad,aixirivali,Aixirivali,6.0,NaN,42.466667,1.500000
2,ad,aixirivall,Aixirivall,6.0,NaN,42.466667,1.500000
3,ad,aixirvall,Aixirvall,6.0,NaN,42.466667,1.500000
4,ad,aixovall,Aixovall,6.0,NaN,42.466667,1.483333
...,...,...,...,...,...,...,...
3173953,zw,zimre park,Zimre Park,4,NaN,-17.866111,31.213611
3173954,zw,ziyakamanas,Ziyakamanas,0,NaN,-18.216667,27.950000
3173955,zw,zizalisari,Zizalisari,4,NaN,-17.758889,31.010556
3173956,zw,zuzumba,Zuzumba,6,NaN,-20.033333,27.933333
3173957,zw,zvishavane,Zvishavane,7,79876.0,-20.333333,30.033333

In [2]:
! pip install pandas

Collecting pandas
  Downloading pandas-2.1.2-cp39-cp39-macosx_11_0_arm64.whl (11.0 MB)
     |████████████████████████████████| 11.0 MB 4.9 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 25.6 MB/s eta 0:00:01
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/shelbernstein/cooperation.party/fastapi_env/lib/python3.9/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shelbernstein/cooperation.party/fastapi_env/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 42.0 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Users/shelbernstein/cooperation.party/fastapi_env/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, pandas
Successfully installed pandas-2.1.2 pytz-2023.3.post1 tzdata-2023.3
WARNING: You are using pip version 21.2.4; however, version 23.3.1 is available.
You should consider upgrading via the '/Users/shelbernstein/cooperation.party/fastapi_env/bin/python3 -m pip install --upgrade pip' command.